.background-color{
    background-color:rgb(177, 210, 233);
}

.description-header{
    color:rgb(14, 14, 119);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.description-content{
    box-sizing: border-box;
    padding: 30px;
    background-color: aliceblue;
    margin-top: 50px;;
}

.description-hr{
    border-top: 3px double;
}

img.desc-float{
    float: left;
}

img.plot{
    width: 90%;
    margin: 15px 30px;
}

#imageNav-area{
    margin-top: 50px;
}

.imageNav-header{
    color: rgb(14, 14, 119);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imageNav-content{
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 30px 30px;
}

.imageNav-photo{
    margin: 15px;
    width: 250px;
    display: block;
}

.comparison-header{
    color:rgb(14, 14, 119);
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comparison-img{
    margin: 5px;
    margin-left: 50px;
    float: left;
    width: 400px;
}

.data-box {
    box-sizing: content-box;
    width: max-content;
}

.datatable {
    background-color: rgb(189, 221, 201);
    border-collapse: collapse; 
}

.datatable th{
    text-align: center;
    background-color: rgb(155, 180, 164);
}